:root {
	--ion-background-color: #2d302f;
	--ion-background-color-rgb: 45,48,47;

	--ion-text-color: #bf909f;
	--ion-text-color-rgb: 191,144,159;

	--ion-color-primary: #1e94ff;
	--ion-color-primary-rgb: 30,148,255;

	--ion-color-primary-contrast: #ffe8fe;
	--ion-color-primary-contrast-rgb: 255,232,254;

	--ion-color-primary-shade: #1878d1;
	--ion-color-primary-tint: #21a9ff;

	--ion-color-step-50: #343535;
	--ion-color-step-100: #3c3a3a;
	--ion-color-step-150: #433e40;
	--ion-color-step-200: #4a4345;
	--ion-color-step-250: #52484b;
	--ion-color-step-300: #594d51;
	--ion-color-step-350: #605256;
	--ion-color-step-400: #67565c;
	--ion-color-step-450: #6f5b61;
	--ion-color-step-500: #766067;
	--ion-color-step-550: #7d656d;
	--ion-color-step-600: #856a72;
	--ion-color-step-650: #8c6e78;
	--ion-color-step-700: #93737d;
	--ion-color-step-750: #9b7883;
	--ion-color-step-800: #a27d89;
	--ion-color-step-850: #a9828e;
	--ion-color-step-900: #b08694;
	--ion-color-step-950: #b88b99;
}

body {
	color: #bf909f;
	margin: 0;
}

hr {
	margin: 0 1rem;
	color: #bf909f;
}

.button-inner {
	text-align: left;
	width: 100%;
}

.button-text {
	width: 10rem;
	text-overflow: ellipsis;
}

.button-fa {
	padding: 1rem 0.5rem;
	margin-top: -1rem;
	margin-right: -1rem;
	margin-bottom: -1rem;
	background-color: rgba(45, 48, 47, 0.7);
}

.rules-text {
	margin-left: 1rem;
}

.statline-value {
	text-align: center;
}

ion-text {
	white-space: pre-wrap !important;
}

ion-card {
	--color: #bf909f;
}