body {
  margin: 0;
  color: #d8d8d8;
  background-color: #534a5b;
  white-space: nowrap;
}

h3 h4 h5 h6 {
  margin: 0;
}

.statline {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}

.statline-entry {
  margin: 0 1rem;
}

.special-rule {
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}

.special-rule-title {
  font-weight: bold;
  margin: 0 1rem;
  align-self: baseline;
  white-space: nowrap;
}