:root {
	--ion-background-color: #2d302f;
	--ion-background-color-rgb: 45,48,47;

	--ion-text-color: #bf909f;
	--ion-text-color-rgb: 191,144,159;

	--ion-color-primary: #1d7ad2;
	--ion-color-primary-rgb: 29,122,210;

	--ion-color-primary-contrast: #ffe8fe;
	--ion-color-primary-contrast-rgb: 255,232,254;

	--ion-color-primary-shade: #095ba8;
	--ion-color-primary-tint: #2784da;

	--ion-color-secondary: #4353e2;
	--ion-color-secondary-rgb: 44,57,99;

	--ion-color-secondary-contrast: #ffe8fe;
	--ion-color-secondary-contrast-rgb: 255,232,254;

	--ion-color-secondary-shade: #3943a1;
	--ion-color-secondary-tint: #6171ff;

	--ion-color-tertiary: #38487a;
	--ion-color-tertiary-rgb: 56,72,122;

	--ion-color-tertiary-contrast: #ffe8fe;
	--ion-color-tertiary-contrast-rgb: 255,232,254;

	--ion-color-tertiary-shade: #17203e;
	--ion-color-tertiary-tint: #47578b;

	--ion-color-step-50: #343535;
	--ion-color-step-100: #3c3a3a;
	--ion-color-step-150: #433e40;
	--ion-color-step-200: #4a4345;
	--ion-color-step-250: #52484b;
	--ion-color-step-300: #594d51;
	--ion-color-step-350: #605256;
	--ion-color-step-400: #67565c;
	--ion-color-step-450: #6f5b61;
	--ion-color-step-500: #766067;
	--ion-color-step-550: #7d656d;
	--ion-color-step-600: #856a72;
	--ion-color-step-650: #8c6e78;
	--ion-color-step-700: #93737d;
	--ion-color-step-750: #9b7883;
	--ion-color-step-800: #a27d89;
	--ion-color-step-850: #a9828e;
	--ion-color-step-900: #b08694;
	--ion-color-step-950: #b88b99;
}

body {
	color: #bf909f;
	margin: 0;
}

hr {
	margin: 0 1rem;
	color: #bf909f;
}

.button-inner {
	text-align: left;
	width: 100%;
}

.button-text {
	width: 10rem;
	text-overflow: ellipsis;
}

.button-fa {
	padding: 1rem 0.5rem;
	margin-top: -1rem;
	margin-right: -1rem;
	margin-bottom: -1rem;
	background-color: rgba(45, 48, 47, 0.7);
}

.rules-text {
	margin-left: 1rem;
}

.statline-value {
	text-align: center;
}

.ac {
	--ion-background-color: #2c2121;
	--ion-background-color-rgb: 44,33,33;
	--background: maroon;
}

.all {
	--background: var(--ion-color-primary);
}

.emp {
	--ion-background-color: #322432;
	--ion-background-color-rgb: 50,36,50;
	--background: #7d0074;
}

.isa {
	--ion-background-color: #2d2520;
	--ion-background-color-rgb: 45,37,32;
	--background: #975800;
}

.ll {
	--ion-background-color: #241d29;
	--ion-background-color-rgb: 36,29,41;
	--background: Indigo;
}

.mw {
	--ion-background-color: #20222d;
	--ion-background-color-rgb: 32,34,45;
	--background: #0141b0;
}

.wc {
	--background: DarkSlateGray;
}

ion-text {
	white-space: pre-wrap !important;
}

ion-card {
	--color: #bf909f;
}

ion-content {
	bottom: 0;
	padding-bottom: calc(var(--padding-bottom) + var(--keyboard-offset) + var(--tab-bar-height));
}